@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Head {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dropzone@5.7.2/dist/dropzone.css" integrity="sha256-3SE+Qz2RvIa5gOHSNS50MUTTzRAOYREA5+DOmMNFPYk=" crossorigin="anonymous">
}

<form asp-page-handler="Upload" enctype="multipart/form-data" id="dropzone" class="dropzone">
</form>

<button class="upload">Upload</button>

<h3>links don't work...</h3>
<p>In blob storage, container uses default permissions, which is private. You'd need a SAS or change container permission.</p>
<p>In local storage, browsers don't allow access to local files apparently.</p>

<ul>
    @foreach (var item in Model.ExistingFiles)
    {
        <li><a href="@item.ToString()">@item.GetComponents(UriComponents.Path, UriFormat.Unescaped)</a></li>
    }
</ul>

@if (Model.Storage.SupportsDownload)
{
<form asp-page-handler="Download">
    <select name="name" class="form-control" onchange="this.form.submit()">
        <option value="">(select)</option>
        @foreach (var item in Model.ExistingFiles)
        {
            <option value="@item.LocalPath">@item.LocalPath</option>
        }
    </select>
</form>
}


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/dropzone@5.7.2/dist/dropzone.min.js"></script>
    <script>
        Dropzone.autoDiscover = false;
        let dropZone = null;

        function chunk() {
            dropZone.processQueue();
        }

        $(document).ready(function () {
            let element = document.getElementById("dropzone");
            dropZone = new Dropzone(element, {                
                chunking: true,
                chunkSize: 30000,
                retryChunks: true,
                addRemoveLinks: true, // this adds link to remove file from dropzone
                maxFilesize: 2000000000, // 2 gig max file size
                autoProcessQueue: false // this stops the chunks from immediate upload
            });

            // upload button event listener
            $('.upload').on('click', chunk);
        });
    </script>
}  
